h1 {
	text-align: center;
	background-color: cadetblue;
	/*I might want to go back to chocolate. Testing cadetblue*/
	
}
h2{
	text-align: center;

	
}
h3{
	text-align: center;
	background-color: cadetblue;
	
}
h4{
	text-align: center;
	
}
h5{
	text-align: center;
	
}
h6{
	text-align: center;
	
}

p {
	color:lightpink;
	text-align: center;
}

body {
	background-color: burlywood;
}

div{
	width: 500px;
	margin: auto;
	background-color: orange;
	text-align: center;
	
}