h1 {
	text-align: center;
	background-color: chocolate;
	
}
h2{
	text-align: center;
	
}
h3{
	text-align: center;
	
}
h4{
	text-align: center;
	
}
h5{
	text-align: center;
	
}
h6{
	text-align: center;
	
}

p {
	color:lightpink;
	text-align: center;
}
	

body {
	background-color: green;
}